# .gitignore file
#
# Set up for Microchip/MPLAB X development
# MPLAB X .gitignore New File generation
# 
# Needs to be located in the project folder
# project.X/.gitignore
#
# John Haroian
# Greg Mrozek
#
# Updated May 30, 2025

# MPLAB X IDE specific
~*.*
/build/
/debug/
/dist/
/disassembly/
/.generated_files/
/nbproject/private/
/nbproject/*.mk
/nbproject/*.bash
/nbproject/Makefile-genesis.properties
/nbproject/queuelogs/

# MCC specific
*mc3.bak*
*.bak*/

# Large Files
*.zip

.generated_files
build/
dist/
